*,
*::before,
*::after,
body {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

.white {
  color: #fff;
}

.black {
  color: #000;
}

.footer_copyright {
  background-color: #000;
}
.footer_copyright .white {
  filter: contrast(1) brightness(8);
}

/* start text transforms */
.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.tt_initial {
  text-transform: initial;
}

/* end text transforms */
/* start font weights */
.fw_thin {
  font-weight: 100;
}

.fw_extra_light {
  font-weight: 200;
}

.fw_light {
  font-weight: 300;
}

.fw_regular {
  font-weight: 400;
}

.fw_medium {
  font-weight: 500;
}

.fw_semi_bold {
  font-weight: 600;
}

.fw_bold {
  font-weight: 700;
}

.fw_extra_bold {
  font-weight: 800;
}

.fw_heavy {
  font-weight: 900;
}

/* end font weights */
/* start lists */
ol,
ul {
  padding-left: 19px;
}

/* end lists */
.hidden {
  display: none;
}

.img_responsive {
  max-width: 100%;
  margin: auto;
}

/* start containers */
:root {
  --container_width: 100%;
  --container_padding: 15px;
  --container_space: calc((100% - var(--container_width)) / 2);
}
@media (min-width: 768px) and (max-width: 991px) {
  :root {
    --container_width: 760px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  :root {
    --container_width: 1000px;
  }
}
@media (min-width: 1200px) {
  :root {
    --container_width: 1190px;
  }
}
@media (min-width: 1400px) {
  :root {
    --container_width: 1190px;
  }
}

.container {
  max-width: var(--container_width);
  width: 100%;
  padding-inline: var(--container_padding);
  margin: auto;
  box-sizing: border-box;
}

.container_left {
  max-width: 100%;
  width: 100%;
  margin-left: calc(var(--container_space));
  padding-left: var(--container_padding);
  box-sizing: border-box;
}

.container_right {
  max-width: 100%;
  width: 100%;
  margin-right: calc(var(--container_space));
  padding-right: var(--container_padding);
  box-sizing: border-box;
}

/* end containers */
/* start column width */
.d_f {
  display: flex;
}

.f_w {
  display: flex;
  flex-wrap: wrap;
}

.f_w_j {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.f_j {
  display: flex;
  justify-content: space-between;
}

.f_justify {
  justify-content: space-between;
}

.f_w_se {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.f_w_around {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.f_w_a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.f_r_aj_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.f_r_aj_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.f_r_a_center {
  display: flex;
  align-items: center;
}

.a_center {
  align-items: center;
}

.f_r_j_center {
  display: flex;
  justify-content: center;
}

.f_c_aj_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.f_c_a_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f_c_j_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.f_d {
  flex-direction: row-reverse;
}

.col_1 {
  width: 1%;
}

.pt_1 {
  padding-top: 1px;
}

.pb_1 {
  padding-bottom: 1px;
}

.col_2 {
  width: 2%;
}

.pt_2 {
  padding-top: 2px;
}

.pb_2 {
  padding-bottom: 2px;
}

.col_3 {
  width: 3%;
}

.pt_3 {
  padding-top: 3px;
}

.pb_3 {
  padding-bottom: 3px;
}

.col_4 {
  width: 4%;
}

.pt_4 {
  padding-top: 4px;
}

.pb_4 {
  padding-bottom: 4px;
}

.col_5 {
  width: 5%;
}

.pt_5 {
  padding-top: 5px;
}

.pb_5 {
  padding-bottom: 5px;
}

.col_6 {
  width: 6%;
}

.pt_6 {
  padding-top: 6px;
}

.pb_6 {
  padding-bottom: 6px;
}

.col_7 {
  width: 7%;
}

.pt_7 {
  padding-top: 7px;
}

.pb_7 {
  padding-bottom: 7px;
}

.col_8 {
  width: 8%;
}

.pt_8 {
  padding-top: 8px;
}

.pb_8 {
  padding-bottom: 8px;
}

.col_9 {
  width: 9%;
}

.pt_9 {
  padding-top: 9px;
}

.pb_9 {
  padding-bottom: 9px;
}

.col_10 {
  width: 10%;
}

.pt_10 {
  padding-top: 10px;
}

.pb_10 {
  padding-bottom: 10px;
}

.col_11 {
  width: 11%;
}

.pt_11 {
  padding-top: 11px;
}

.pb_11 {
  padding-bottom: 11px;
}

.col_12 {
  width: 12%;
}

.pt_12 {
  padding-top: 12px;
}

.pb_12 {
  padding-bottom: 12px;
}

.col_13 {
  width: 13%;
}

.pt_13 {
  padding-top: 13px;
}

.pb_13 {
  padding-bottom: 13px;
}

.col_14 {
  width: 14%;
}

.pt_14 {
  padding-top: 14px;
}

.pb_14 {
  padding-bottom: 14px;
}

.col_15 {
  width: 15%;
}

.pt_15 {
  padding-top: 15px;
}

.pb_15 {
  padding-bottom: 15px;
}

.col_16 {
  width: 16%;
}

.pt_16 {
  padding-top: 16px;
}

.pb_16 {
  padding-bottom: 16px;
}

.col_17 {
  width: 17%;
}

.pt_17 {
  padding-top: 17px;
}

.pb_17 {
  padding-bottom: 17px;
}

.col_18 {
  width: 18%;
}

.pt_18 {
  padding-top: 18px;
}

.pb_18 {
  padding-bottom: 18px;
}

.col_19 {
  width: 19%;
}

.pt_19 {
  padding-top: 19px;
}

.pb_19 {
  padding-bottom: 19px;
}

.col_20 {
  width: 20%;
}

.pt_20 {
  padding-top: 20px;
}

.pb_20 {
  padding-bottom: 20px;
}

.col_21 {
  width: 21%;
}

.pt_21 {
  padding-top: 21px;
}

.pb_21 {
  padding-bottom: 21px;
}

.col_22 {
  width: 22%;
}

.pt_22 {
  padding-top: 22px;
}

.pb_22 {
  padding-bottom: 22px;
}

.col_23 {
  width: 23%;
}

.pt_23 {
  padding-top: 23px;
}

.pb_23 {
  padding-bottom: 23px;
}

.col_24 {
  width: 24%;
}

.pt_24 {
  padding-top: 24px;
}

.pb_24 {
  padding-bottom: 24px;
}

.col_25 {
  width: 25%;
}

.pt_25 {
  padding-top: 25px;
}

.pb_25 {
  padding-bottom: 25px;
}

.col_26 {
  width: 26%;
}

.pt_26 {
  padding-top: 26px;
}

.pb_26 {
  padding-bottom: 26px;
}

.col_27 {
  width: 27%;
}

.pt_27 {
  padding-top: 27px;
}

.pb_27 {
  padding-bottom: 27px;
}

.col_28 {
  width: 28%;
}

.pt_28 {
  padding-top: 28px;
}

.pb_28 {
  padding-bottom: 28px;
}

.col_29 {
  width: 29%;
}

.pt_29 {
  padding-top: 29px;
}

.pb_29 {
  padding-bottom: 29px;
}

.col_30 {
  width: 30%;
}

.pt_30 {
  padding-top: 30px;
}

.pb_30 {
  padding-bottom: 30px;
}

.col_31 {
  width: 31%;
}

.pt_31 {
  padding-top: 31px;
}

.pb_31 {
  padding-bottom: 31px;
}

.col_32 {
  width: 32%;
}

.pt_32 {
  padding-top: 32px;
}

.pb_32 {
  padding-bottom: 32px;
}

.col_33 {
  width: 33%;
}

.pt_33 {
  padding-top: 33px;
}

.pb_33 {
  padding-bottom: 33px;
}

.col_34 {
  width: 34%;
}

.pt_34 {
  padding-top: 34px;
}

.pb_34 {
  padding-bottom: 34px;
}

.col_35 {
  width: 35%;
}

.pt_35 {
  padding-top: 35px;
}

.pb_35 {
  padding-bottom: 35px;
}

.col_36 {
  width: 36%;
}

.pt_36 {
  padding-top: 36px;
}

.pb_36 {
  padding-bottom: 36px;
}

.col_37 {
  width: 37%;
}

.pt_37 {
  padding-top: 37px;
}

.pb_37 {
  padding-bottom: 37px;
}

.col_38 {
  width: 38%;
}

.pt_38 {
  padding-top: 38px;
}

.pb_38 {
  padding-bottom: 38px;
}

.col_39 {
  width: 39%;
}

.pt_39 {
  padding-top: 39px;
}

.pb_39 {
  padding-bottom: 39px;
}

.col_40 {
  width: 40%;
}

.pt_40 {
  padding-top: 40px;
}

.pb_40 {
  padding-bottom: 40px;
}

.col_41 {
  width: 41%;
}

.pt_41 {
  padding-top: 41px;
}

.pb_41 {
  padding-bottom: 41px;
}

.col_42 {
  width: 42%;
}

.pt_42 {
  padding-top: 42px;
}

.pb_42 {
  padding-bottom: 42px;
}

.col_43 {
  width: 43%;
}

.pt_43 {
  padding-top: 43px;
}

.pb_43 {
  padding-bottom: 43px;
}

.col_44 {
  width: 44%;
}

.pt_44 {
  padding-top: 44px;
}

.pb_44 {
  padding-bottom: 44px;
}

.col_45 {
  width: 45%;
}

.pt_45 {
  padding-top: 45px;
}

.pb_45 {
  padding-bottom: 45px;
}

.col_46 {
  width: 46%;
}

.pt_46 {
  padding-top: 46px;
}

.pb_46 {
  padding-bottom: 46px;
}

.col_47 {
  width: 47%;
}

.pt_47 {
  padding-top: 47px;
}

.pb_47 {
  padding-bottom: 47px;
}

.col_48 {
  width: 48%;
}

.pt_48 {
  padding-top: 48px;
}

.pb_48 {
  padding-bottom: 48px;
}

.col_49 {
  width: 49%;
}

.pt_49 {
  padding-top: 49px;
}

.pb_49 {
  padding-bottom: 49px;
}

.col_50 {
  width: 50%;
}

.pt_50 {
  padding-top: 50px;
}

.pb_50 {
  padding-bottom: 50px;
}

.col_51 {
  width: 51%;
}

.pt_51 {
  padding-top: 51px;
}

.pb_51 {
  padding-bottom: 51px;
}

.col_52 {
  width: 52%;
}

.pt_52 {
  padding-top: 52px;
}

.pb_52 {
  padding-bottom: 52px;
}

.col_53 {
  width: 53%;
}

.pt_53 {
  padding-top: 53px;
}

.pb_53 {
  padding-bottom: 53px;
}

.col_54 {
  width: 54%;
}

.pt_54 {
  padding-top: 54px;
}

.pb_54 {
  padding-bottom: 54px;
}

.col_55 {
  width: 55%;
}

.pt_55 {
  padding-top: 55px;
}

.pb_55 {
  padding-bottom: 55px;
}

.col_56 {
  width: 56%;
}

.pt_56 {
  padding-top: 56px;
}

.pb_56 {
  padding-bottom: 56px;
}

.col_57 {
  width: 57%;
}

.pt_57 {
  padding-top: 57px;
}

.pb_57 {
  padding-bottom: 57px;
}

.col_58 {
  width: 58%;
}

.pt_58 {
  padding-top: 58px;
}

.pb_58 {
  padding-bottom: 58px;
}

.col_59 {
  width: 59%;
}

.pt_59 {
  padding-top: 59px;
}

.pb_59 {
  padding-bottom: 59px;
}

.col_60 {
  width: 60%;
}

.pt_60 {
  padding-top: 60px;
}

.pb_60 {
  padding-bottom: 60px;
}

.col_61 {
  width: 61%;
}

.pt_61 {
  padding-top: 61px;
}

.pb_61 {
  padding-bottom: 61px;
}

.col_62 {
  width: 62%;
}

.pt_62 {
  padding-top: 62px;
}

.pb_62 {
  padding-bottom: 62px;
}

.col_63 {
  width: 63%;
}

.pt_63 {
  padding-top: 63px;
}

.pb_63 {
  padding-bottom: 63px;
}

.col_64 {
  width: 64%;
}

.pt_64 {
  padding-top: 64px;
}

.pb_64 {
  padding-bottom: 64px;
}

.col_65 {
  width: 65%;
}

.pt_65 {
  padding-top: 65px;
}

.pb_65 {
  padding-bottom: 65px;
}

.col_66 {
  width: 66%;
}

.pt_66 {
  padding-top: 66px;
}

.pb_66 {
  padding-bottom: 66px;
}

.col_67 {
  width: 67%;
}

.pt_67 {
  padding-top: 67px;
}

.pb_67 {
  padding-bottom: 67px;
}

.col_68 {
  width: 68%;
}

.pt_68 {
  padding-top: 68px;
}

.pb_68 {
  padding-bottom: 68px;
}

.col_69 {
  width: 69%;
}

.pt_69 {
  padding-top: 69px;
}

.pb_69 {
  padding-bottom: 69px;
}

.col_70 {
  width: 70%;
}

.pt_70 {
  padding-top: 70px;
}

.pb_70 {
  padding-bottom: 70px;
}

.col_71 {
  width: 71%;
}

.pt_71 {
  padding-top: 71px;
}

.pb_71 {
  padding-bottom: 71px;
}

.col_72 {
  width: 72%;
}

.pt_72 {
  padding-top: 72px;
}

.pb_72 {
  padding-bottom: 72px;
}

.col_73 {
  width: 73%;
}

.pt_73 {
  padding-top: 73px;
}

.pb_73 {
  padding-bottom: 73px;
}

.col_74 {
  width: 74%;
}

.pt_74 {
  padding-top: 74px;
}

.pb_74 {
  padding-bottom: 74px;
}

.col_75 {
  width: 75%;
}

.pt_75 {
  padding-top: 75px;
}

.pb_75 {
  padding-bottom: 75px;
}

.col_76 {
  width: 76%;
}

.pt_76 {
  padding-top: 76px;
}

.pb_76 {
  padding-bottom: 76px;
}

.col_77 {
  width: 77%;
}

.pt_77 {
  padding-top: 77px;
}

.pb_77 {
  padding-bottom: 77px;
}

.col_78 {
  width: 78%;
}

.pt_78 {
  padding-top: 78px;
}

.pb_78 {
  padding-bottom: 78px;
}

.col_79 {
  width: 79%;
}

.pt_79 {
  padding-top: 79px;
}

.pb_79 {
  padding-bottom: 79px;
}

.col_80 {
  width: 80%;
}

.pt_80 {
  padding-top: 80px;
}

.pb_80 {
  padding-bottom: 80px;
}

.col_81 {
  width: 81%;
}

.pt_81 {
  padding-top: 81px;
}

.pb_81 {
  padding-bottom: 81px;
}

.col_82 {
  width: 82%;
}

.pt_82 {
  padding-top: 82px;
}

.pb_82 {
  padding-bottom: 82px;
}

.col_83 {
  width: 83%;
}

.pt_83 {
  padding-top: 83px;
}

.pb_83 {
  padding-bottom: 83px;
}

.col_84 {
  width: 84%;
}

.pt_84 {
  padding-top: 84px;
}

.pb_84 {
  padding-bottom: 84px;
}

.col_85 {
  width: 85%;
}

.pt_85 {
  padding-top: 85px;
}

.pb_85 {
  padding-bottom: 85px;
}

.col_86 {
  width: 86%;
}

.pt_86 {
  padding-top: 86px;
}

.pb_86 {
  padding-bottom: 86px;
}

.col_87 {
  width: 87%;
}

.pt_87 {
  padding-top: 87px;
}

.pb_87 {
  padding-bottom: 87px;
}

.col_88 {
  width: 88%;
}

.pt_88 {
  padding-top: 88px;
}

.pb_88 {
  padding-bottom: 88px;
}

.col_89 {
  width: 89%;
}

.pt_89 {
  padding-top: 89px;
}

.pb_89 {
  padding-bottom: 89px;
}

.col_90 {
  width: 90%;
}

.pt_90 {
  padding-top: 90px;
}

.pb_90 {
  padding-bottom: 90px;
}

.col_91 {
  width: 91%;
}

.pt_91 {
  padding-top: 91px;
}

.pb_91 {
  padding-bottom: 91px;
}

.col_92 {
  width: 92%;
}

.pt_92 {
  padding-top: 92px;
}

.pb_92 {
  padding-bottom: 92px;
}

.col_93 {
  width: 93%;
}

.pt_93 {
  padding-top: 93px;
}

.pb_93 {
  padding-bottom: 93px;
}

.col_94 {
  width: 94%;
}

.pt_94 {
  padding-top: 94px;
}

.pb_94 {
  padding-bottom: 94px;
}

.col_95 {
  width: 95%;
}

.pt_95 {
  padding-top: 95px;
}

.pb_95 {
  padding-bottom: 95px;
}

.col_96 {
  width: 96%;
}

.pt_96 {
  padding-top: 96px;
}

.pb_96 {
  padding-bottom: 96px;
}

.col_97 {
  width: 97%;
}

.pt_97 {
  padding-top: 97px;
}

.pb_97 {
  padding-bottom: 97px;
}

.col_98 {
  width: 98%;
}

.pt_98 {
  padding-top: 98px;
}

.pb_98 {
  padding-bottom: 98px;
}

.col_99 {
  width: 99%;
}

.pt_99 {
  padding-top: 99px;
}

.pb_99 {
  padding-bottom: 99px;
}

.col_100 {
  width: 100%;
}

.pt_100 {
  padding-top: 100px;
}

.pb_100 {
  padding-bottom: 100px;
}

/* end column width *//*# sourceMappingURL=template.css.map */